<% layout('layouts/boilerplate') -%>

  <!-- <h3>All Listings</h3>
    <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form>-->


  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Room</p>
    </div>


    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </div>

    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tent"></i></div>
      <p>Campaing</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-snowman"></i></div>
      <p>Artics</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-landmark-dome"></i></i></div>
      <p>Domes</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-ship"></i></i></div>
      <p>Boats</p>
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
      <% 
        // Calculate the price after adding 18% GST
        let priceWithGST = listing.price * 1.18;
      %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem">
          <div class="card-img-overlay">Please click on the image</div>
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b> <br />
              <%= listing.price.toLocaleString("en-IN") %>/night + 18% GST%> <br>
              <i class="tax-info">After GST: <%= priceWithGST.toLocaleString("en-IN") %>/night</i><br />
            </p>
          </div>
        </div>
      </a>
    <% } %>
  </div>